<div class="scrollable">
      <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
          <h3><strong>OA技术框架</strong></h3>
        </div>
      </div>
	<div class="scrollable-content section ptop mainListContent scrollable-content-align">
	<div class="top row">
	     <div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<!-- <a ui-sref="main.task"><img src="home/view/main/image/undo.jpg" alt="功能图片显示不出来" class="img-rounded"/></a> -->
  	    		<a ui-sref="main.task" onClick="initToTopState()"><img src="base/home/view/main/image/9.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label">待办事项</label>
  		</div>
  		
  		<div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<!-- <a href="#/main/havedo"><img src="home/view/main/image/done.jpg" alt="功能图片显示不出来" class="img-rounded"/></a> -->
  	    		<a href="#/main/havedo" onClick="initToTopState()"><img src="base/home/view/main/image/12.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label">已办事项</label>
  		</div>
  	    
  		<div class="col-xs-4 col-sm-4">
  			<div class="icon">
  	    		<a href="#/main/demo" onClick="initToTopState()"><img src="base/home/view/main/image/2.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label listFontStyle">demo</label>
		</div>
  		
  	</div>
	
	
	<!-- <div class="top row">
	     <div class="col-xs-4 col-sm-4">
  	    	<div class="icon">
  	    	
  	    		<a href="#/main/internalmessage"><img src="home/view/main/image/1.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class="control-label listFontStyle">内部消息</label>
  	    </div>
	
	    <div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<a href="#/main/mobilesms"><img src="home/view/main/image/sms.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/mobilesms" onClick="initToTopState()"><img src="home/view/main/image/7.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label">手机短信</label>
  		</div>
	
  		<div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<a href="#/main/notice"><img src="home/view/main/image/publicnotice.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/notice"><img src="home/view/main/image/6.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label">通知公告</label>
  		</div>
	</div> -->
	
	<!-- <div class="top row">
	
	     <div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<a href="#/main/myschedules"><img src="home/view/main/image/mycalendar.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/myschedules" onClick="initToTopState()"><img src="home/view/main/image/11.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label">我的日程</label>
  		</div>
	     
		<div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<a href="#/main/workmanagement"><img src="home/view/main/image/workemanager.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/workmanagement"><img src="home/view/main/image/4.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label">工作管理</label>
  		</div>
  		
  		<div class="col-xs-4 col-sm-4">
  			 <div class="icon">
  				<a href="#/main/worklog"><img src="home/view/main/image/workelog.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/worklog"><img src="home/view/main/image/5.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	 </div>
  	    	<label class=" control-label">工作日志</label>
  		</div>
  		
  		
  		
  		
	</div> -->
	
	<!-- <div class="top row">
  		<div class="col-xs-4 col-sm-4">
  			 <div class="icon">
  			 	<a href="#/main/documentationcentre"><img src="home/view/main/image/documentcenter.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/documentationcentre"><img src="home/view/main/image/10.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	 </div>
  	    	<label class=" control-label">文档中心</label>

  		</div>
  		
  		<div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<a href="#/main/addressbook"><img src="home/view/main/image/addressbook.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/addressbook"><img src="home/view/main/image/8.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label">通讯簿</label>
  		</div>
  		
  		<div class="col-xs-4 col-sm-4">
  			<div class="icon">
  				<a href="#/main/customercenter"><img src="home/view/main/image/customercenter.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    		<a href="#/main/customercenter" onClick="initToTopState()"><img src="home/view/main/image/3.jpg" alt="功能图片显示不出来" class="img-rounded"/></a>
  	    	</div>
  	    	<label class=" control-label listFontStyle">客户中心</label>
  		</div>
	</div> -->
	</div>
</div>